.offer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	margin: 0;
}

.photo-box {
	border-radius: 15px 15px 0 0;
}

.photo {
	width: 100%;
	border-radius: 15px 15px 0 0;
	transition: 0.5s;
}

.text-box {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1.5rem;
}

.offer-heading {
	font-weight: 500;
	font-size: 1.3rem;
	color: #10152C;
	margin: 0;
	padding: 0;
}

.offer-desc {
	font-size: 1.1rem;
	color: #10152C;
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	.offer {
		flex-basis: 48%;
	}
}


@media only screen and (min-width: 1024px) {
	.offer {
		flex-basis: 33%;
	}

	.photo:hover {
		box-shadow: 10px 10px 10px #10152c27;
		width: 102%;
	}
}